*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#root{
    display: grid;
    background-color: #ff5b5b;
    box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
}

#root > * {
    grid-column-start: 1;
    grid-row-start: 1;
}

.sparkle {
    height: 100vh;
    width: 100vw;

}

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.container .hpImg{
    height: 360px;
    width: 444px;
}

.container .text{
    justify-self: center;
    font-size: 30px;
    text-align: center;
    height: 50px;
    font-family: 'Press Start 2P', system-ui;
    font-weight: bold;
}

.btn{
    gap: 50px;
    display: inline-block;
    justify-content: space-between;
}

#no {
    position: absolute;
    left: 52%;
}

.yes{
    position: absolute;
    left: 43%;
}

.btn .yes, .btn #no{
    font-family: 'Sixtyfour', sans-serif;
    font-size: 15px;
    width: 125px;
    height: 35px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border-radius: 15px;
    background-color: #ffaaaa;
    border: transparent;
    transition-duration: .4s;
    transform: scale(1);
}

.yes:hover{
    transform: scale(1.1);
    box-shadow: 0 12px 16px 0 rgba(255, 187, 0, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: gold;
}

#no:hover{
    transform: scale(1.1);
    box-shadow: 0 12px 16px 0 rgba(255, 0, 0, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: red;
}