*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #ff5b5b;
    box-shadow: 0 0 50px rgba(0,0,0,.9) inset;
    width: 100vw;
    height: 100vh;
    animation: colorOff 3s 7s forwards;
}

@keyframes colorOff{
    from {
        background-color: #ff5b5b;
    }
    to {
        background-color: rgba(201, 64, 64, 0.966);
        box-shadow: 0 0 200px rgba(0,0,0,1) inset;
    }
}

#food{
    -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
    animation: opacityCon 1s 9s forwards;
    position: absolute;
}

@keyframes opacityOn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#flip{
    -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
    animation: opacityILY 1s 12s forwards;
    opacity: 0;
}



p{
    font-family: 'Sixtyfour', sans-serif;
    text-align: center;
    font-weight: bolder;
    animation: opacityP 1s 7s forwards;
    opacity: 1;
    font-size: 25px;
}

@keyframes opacityP{
from {
    opacity: 1;
}
to {
    opacity: 0;
}
}

#confetti, #hearts{
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#hearts{
    animation: opacityILY 4s 12s forwards;
    opacity: 0;
}

@keyframes opacityILY{
from {
    opacity: 0;
}
to {
    opacity: 1;
}
}

#confetti{
    animation: opacityCon 12s 4s forwards;
    opacity: 1;
}
    
    @keyframes opacityCon{
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

#candle1, #candle2{
    position: absolute;
    animation: opacityOn 1s 12s forwards;
    opacity: 0;
    -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
}

@keyframes opacityOn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#candle1{
    right: 10%
}

#candle2{
    left: 10%
}

.ILY{
    color: white;
    font-size: 40px;
    animation: opacityILY 1s 12s forwards;
    opacity: 0;
    text-shadow: 0 0 32px #FFFFFF;
}

@keyframes opacityILY{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
